.shop-products {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 9%;
  .shop-sidebar {
    flex: 1 1 3rem;
    @import "./shop-page/woo-sidebar";
    button.filter-btn {
      margin-top: 3rem;
      font-weight: 600;
      &:hover {
        background-color: $black;
        color: $primary-color;
      }
    }
  }
  .product-container {
    flex: 1 1 60rem;
    .products {
      padding-top: 0;
    }
    .load-more {
      display: block;
      margin: 3rem auto;
      font-weight: 600;
      &:hover {
        background-color: $black;
        color: $primary-color;
      }
    }
  }
}
