* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include desktop {
    font-size: 55.5%;
  }
  @include tablet {
    font-size: 48.5%;
  }
}
body,
p {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
section {
  padding: 3rem 9%;
}
.hide {
  display: none;
}
.show {
  display: block;
}
img {
  width: 100%;
}
.btn {
  padding: 1.5rem 2.5rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  background-color: $primary-color;
}
.background {
  background-image: url("../../../assets/image/ripped-paper-base.png");
  background-size: cover;
  position: relative;
  background-color: $primary-color;
  padding: 1rem;
}
