// Variables
$primary-color: #e5264b;
$primary-color-light: #e5264b;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #f3f3f3;
$border: 1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
